/* Element Selectors */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 13px;
}

body {
    background-color: #d9dcd6;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16.5px;
}

/* Class Selectors */
/* header styling */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
    display: flex
    display: inline-flex;
}
/* h1 brand styling */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* h1 targeted color variation for "seo" */
.header h1 .seo {
    color: #d9dcd6;
}
/* header nav styling */
.header nav {
    padding: 20px 0;
    margin-right: 5px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
/* Removing ul bullets from nav unordered list */
.header nav ul {
    list-style-type: none;
}
/* Lining nav links horizontally on same line */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


.hero {
    height: 635px;
    width: 100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    margin-bottom: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
    position: inline-block;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 15px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}


.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}